@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

:root {
  --bodybg: #ffffff;
  --primary-color: #0F3F62;
  --grey: #d6d6d6;
  --placeholder: #969696;
  --white: #fff;
  --text: #333;
  --slider-bg: #E4F4FF;
  --login-cta-hover: #0F3F62;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bodybg);
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: var(--white);
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.form-container {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--white);
}

.login-form h1 {
  font-weight: 500;
  color: var(--text);
  margin-bottom: 20px;
}

.login-form span {
  color: var(--text);
  font-size: 14px;
  margin-bottom: 20px;
}

.login-form input,
.login-form select {
  background: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  color: var(--text);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  border-radius: 5px;
}

.login-form input::placeholder {
  color: var(--placeholder);
  font-weight: 300;
}

.login-button {
  border-radius: 20px;
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
  padding: 12px 45px;
  margin-top: 20px;
  text-transform: uppercase;
  transition: background 0.2s ease;
  cursor: pointer;
}

.login-button:hover {
  background: var(--login-cta-hover);
}

.link {
  color: var(--primary-color);
  font-weight: 700;
  text-decoration: none;
  font-size: 14px;
  margin-top: 20px;
}

.link:hover {
  text-decoration: underline;
}

.overlay-container {
  flex: 1;
  background: #E4F4FF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
}

.overlay-container h1 {
  font-weight: bold;
  color: var(--primary-color);
}

.overlay-container p {
  font-size: 14px;
  color: #666666;
}

.ghost {
  background: transparent;
  border-color: var(--primary-color);
}

.ghost:hover {
  background: var(--primary-color);
  color: var(--white);
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .login-form,
  .overlay-container {
    width: 100%;
  }
}
